[Unit]
Description=Amplifier Input Control 
After=network-online.target
[Service]
Type=simple
User=osmc
Group=osmc
UMask=007
WorkingDirectory=/opt/ampi
Environment="/opt/ampi/env/bin/"
ExecStart=/opt/ampi/env/bin/gunicorn --bind 0.0.0.0:5000 main:app
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target

